# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/bootstrap*

# Web
web/bundles/*
web/uploads/*

# Composer
composer.phar

# Editors
volleyball.sublime-*
/nbproject

# Vagrant
/vagrant/.vagrant
vagrant/Personalization

# Misc
*~

# Vendors
vendor/*

# Spacehogs
*/cache/*
*/logs/*