[submodule "vagrant"]
	path = vagrant
	url = https://github.com/PMSScheduling/vagrant.git
[submodule "fixtures-bundle"]
        path = src/PMS/Bundle/FixturesBundle
        url = http://github.com/PMSScheduling/FixturesBundle.git
[submodule "user"]
        path = src/PMS/Component/User
        url = http://github.com/PMSScheduling/User.git
[submodule "user-bundle"]
        path = src/PMS/Bundle/UserBundle
        url = http://github.com/PMSScheduling/UserBundle.git
[submodule "core"]
        path = src/PMS/Component/Utility
        url = http://github.com/PMSScheduling/Utility.git
[submodule "core-bundle"]
        path = src/PMS/Bundle/UtilityBundle
        url = http://github.com/PMSScheduling/UtilityBundle.git
[submodule "fixtures-bundle"]
        path = src/PMS/Bundle/FixturesBundle
        url = http://github.com/PMSScheduling/FixturesBundle.git