[submodule "vagrant"]
	path = vagrant
	url = https://github.com/VolleyballScheduling/vagrant.git
[submodule "course"]
        path = src/Volleyball/Component/Course
        url = http://github.com/VolleyballScheduling/Course.git
[submodule "facility"]
        path = src/Volleyball/Component/Facility
        url = http://github.com/VolleyballScheduling/Facility.git
[submodule "enrollment"]
        path = src/Volleyball/Component/Enrollment
        url = http://github.com/VolleyballScheduling/Enrollment.git
[submodule "organization"]
        path = src/Volleyball/Component/Organization
        url = http://github.com/VolleyballScheduling/Organization.git
[submodule "passel"]
        path = src/Volleyball/Component/Passel
        url = http://github.com/VolleyballScheduling/Passel.git
[submodule "report"]
        path = src/Volleyball/Component/Report
        url = http://github.com/VolleyballScheduling/Report.git
[submodule "user"]
        path = src/Volleyball/Component/User
        url = http://github.com/VolleyballScheduling/User.git
[submodule "utility"]
        path = src/Volleyball/Component/Utility
        url = http://github.com/VolleyballScheduling/Utility.git
[submodule "course-bundle"]
        path = src/Volleyball/Bundle/CourseBundle
        url = http://github.com/VolleyballScheduling/CourseBundle.git
[submodule "enrollment-bundle"]
        path = src/Volleyball/Bundle/EnrollmentBundle
        url = http://github.com/VolleyballScheduling/EnrollmentBundle.git
[submodule "facility-bundle"]
        path = src/Volleyball/Bundle/FacilityBundle
        url = http://github.com/VolleyballScheduling/FacilityBundle.git
[submodule "organization-bundle"]
        path = src/Volleyball/Bundle/OrganizationBundle
        url = http://github.com/VolleyballScheduling/OrganizationBundle.git
[submodule "passel-bundle"]
        path = src/Volleyball/Bundle/PasselBundle
        url = http://github.com/VolleyballScheduling/PasselBundle.git
[submodule "report-bundle"]
        path = src/Volleyball/Bundle/ReportBundle
        url = http://github.com/VolleyballScheduling/ReportBundle.git
[submodule "user-bundle"]
        path = src/Volleyball/Bundle/UserBundle
        url = http://github.com/VolleyballScheduling/UserBundle.git
[submodule "utility-bundle"]
        path = src/Volleyball/Bundle/UtilityBundle
        url = http://github.com/VolleyballScheduling/UtilityBundle.git
[submodule "fixtures-bundle"]
        path = src/Volleyball/Bundle/FixturesBundle
        url = http://github.com/VolleyballScheduling/FixturesBundle.git