{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block content %}
<div class="box main-content">
  <div class="box-content datagrid">
    <div>
    {%block fos_user_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}